{% extends "learning_logs/base.html" %}

{% block content %}

<style>
    .button{
      background-color: white;
      padding: 5px 7px 5px 7px;
      margin-right: 10px;
      border-radius: 15px;
      border-style: solid;
      border-width: 1px;
      color: rgba(0, 0, 0, 0.795);
      box-shadow: darkgray;
      font-weight: bold;
      transition: .2s;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
    }
    .button:hover{
      background-color: rgb(209, 179, 237);
      box-shadow: 2px 3px 7px rgba(0,0,0, .4);
      border-color: black;
      color: black;
    }
    .button:active{
      background-color: rgb(191, 134, 244);
      box-shadow: 2px 3px 7px rgba(0,0,0, .6);
      border-color: black;
      color: black;
    }
</style>

<p>
    <a href="{% url 'learning_logs:topic' topic.id %}" class="button">{{ topic }}</a>
</p>

<p>Edit Entry</p>

<form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" class="button">save</button>
</form>

{% endblock content %}