{% extends "learning_logs/base.html" %}

{% block content %} 

<style>
  body{
    background-color:#ffcc8e;
  }

  .button{
  position:relative;
  display:inline-block;
  margin: 5px 20px;
  }

  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding: 10px;
    width: 100px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }

  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
</style>

  <p>Topic: {{ topic }}</p>
  <div class="button">
    <a href="{% url 'learning_logs:delete_topic' topic.id %}">delete topic</a>
  </div>

  <p>Entries:<p>
  <p>
    <div class="button">
      <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
    </div>
  </p>
  
  <ul>
  {% for entry in entries %}
    <li>
      <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ entry.text|linebreaks }}</p>
      <p>
        <div class="button">
          <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a>
          <a href="{% url 'learning_logs:delete_entry' entry.id %}">delete entry</a>
        </div>
      </p>
    </li>
  {% empty %} 
    <li>There are no entries for this topic yet.</li>
  {% endfor %} 
  </ul>

{% endblock content %}